*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #f9e933;
    font-size: 100%;
}

header, main, footer{
    min-width: 855px;
}

header.container, main.container, footer.container{
    max-width: 855px;
    margin: auto;
}

nav{
    margin-right: 300px;
}

.container{
    margin-left: 200px;
}

header{
    background-color: #ffffff;
    overflow: auto;
    padding: 20px;
}

header h1{
    float: left;
    width: 570px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 5.5em;
}

header nav{
    float: right;
    width: 285px;
}

h2{
    font-family: 'Droid Sans', sans-serif;
    font-size: 3em;
}

h3{
    font-family: 'Droid Sans', sans-serif;
    font-size: 2em;
}

h5{
    font-family: 'Droid Sans', sans-serif;
    font-size: 1.5em;
}

a{ 
    color: #ff0000;
    font-family: 'Droid Sans', sans-serif;
    font-size: 1.25em;
    text-decoration: none;
}

a:hover{
    color: #0000ff;
    text-decoration: underline;
}

p{
    font-family: 'Droid Sans', sans-serif;
    font-size: 1.25em;
}

main{
    background-color: #ffffff;
    overflow: auto;
}

.main-container{
    float: left;
    margin-left: 200px;
    padding: 20px;
    margin: 20px;
}

.main-text{
    float: left;
    margin-left: 200px;
    padding: 20px;
    margin: 20px;
}

.main-text2{
    margin-left: 40px;
}

.img-container{
    float: right;
    margin-right: 200px;
    padding: 20px;
    margin: 20px;
}

.contact{
    float: left;
    margin-left: 200px;
    padding: 20px;
    margin: 20px;
}

.sitemap{
    float: right;
    margin-right: 600px;
    padding: 20px;
}

.contact-faq{
    float: left;
    margin-left: 200px;
    margin: 50px;
    padding: 20px;
}

.sitemap-faq{
    float: right;
    margin-right: 600px;
    padding: 75px;
}

.faq-item1{
    float: left;
    margin-left: 200px;
    padding: 20px;
    margin: 20px;
}

.faq-item2{
    float: left;
    margin-left: 200px;
    padding: 20px;
    margin: 20px;
}

.faq-item3{
    float: left;
    margin-left: 200px;
    padding: 20px;
    margin: 20px;
}

.faq-title-header h3{
    float: left;
    margin-left: 200px;
    padding: 20px;
    margin: 20px;
}

.faq-container{
    margin-left: 200px;
    padding: 20px;
    margin: 20px;
}

.faq-nav{
    float: right;
    margin-right: 20px;
    padding: 20px;
}
